@font-face {
    font-family: Brush;
    src: url('../fonts/Abrashe-gxJAp.ttf');
}

body {
    background-image: url('../Images/mapa1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    background-image: url('../Images/brush.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 20px;
    font-family: Brush;
    color: black;
    text-align: center;
    padding: 50px 0;
}
